.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #202124;
}

.title {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  padding: 1em;
  font-size: 5rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.title .fixed {
  text-shadow: -0.06rem -0.06rem 0.3rem #fff, 0.06rem 0.06rem 0.3rem #fff,
    0 0 0.62rem lime, 0 0 1.23rem lime, 0 0 1.85rem lime, 0 0 2.46rem lime,
    0 0 3.08rem lime;
}

.title .flicker {
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.06rem -0.06rem 0.3rem #fff, 0.06rem 0.06rem 0.3rem #fff,
      0 0 0.62rem #f40, 0 0 1.23rem #f40, 0 0 1.85rem #f40, 0 0 2.46rem #f40,
      0 0 3.08rem #f40;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.outof {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.25em;
  transform: rotate(-50deg);
  font-weight: 900;
  margin: 0 -0.3em;
}
